* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.batteryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 500px;
  height: 500px;
  overflow-y: auto;
  background-color: aliceblue;
}
.batteries {
}
.bulbContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 500px;
  height: 500px;
  overflow-x: auto;
  background-color: gray;
 }
